body {
  width: 380px;
  height: 512px;
  background-color: #f5f5f5;
  font-family: 'Roboto';
}

.city-input-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city-input {
  flex: 1;
}
